$c-dark-gray: #151515;
$c-black: #111111;
$c-cyan: #64B6AC;
$c-beige: #E3C5BB;

$wrapper-width: 1168px;

.page {
  height: 100vh;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 18px;
  color: #fff;
}

body, h1, h2, p, input {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: $wrapper-width;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 168px);
  grid-template-rows: 1;
  grid-column-gap: 32px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;

  max-width: 100vw;
  height: 100px;

  background-color: $c-dark-gray;
}

.nav {
  display: flex;
  justify-content: space-between;
  
  margin-top: 40px;
  margin-bottom: 40px;

  &__item {

  }

  &__title {
    margin: 0;
    background-image: linear-gradient(90deg, #64B6AC 0%, #E3C5BB 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
}

.main {
  background-color: $c-black;

  &__text {
    padding-top: 80px;
  }

  &__text-item {
    display: block;
    width: 100%;
    height: 80px;

    font-family: inherit;
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.06em;
    color: $c-black;

    outline: none;
    resize: none;
    background-color: $c-black;
    text-decoration: none;
    border: none;

    &::placeholder {
      color: $c-black;
    }

    &:first-child {
      margin: 0 0 60px;
      width: 100%;
      padding: 0;

      
      -webkit-text-stroke: 3px $c-cyan;
    }

    &:last-child {
      margin-bottom: 80px;

      -webkit-text-stroke: 3px $c-beige;
    }
  }

  &__info {
    background-color: $c-dark-gray;
  }

  &__titles {
    margin-bottom: 60px;
    padding-top: 60px;

    background-color: $c-dark-gray;
    text-align: center;
  }

  &__title {
    font-size: 32px;
    line-height: 39px;
    color: $c-beige;

    &:first-child {
      grid-column: 1 / 3;
    }

    &:nth-child(2) {
      grid-column: 3 / 5;
    }

    &:last-child {
      grid-column: 5 / 7;
    }
  }

  &__form {

  }
}

.form {

  &__infographic{
    margin-bottom: 60px;
  }

  &__key {
    display: flex;
    grid-column: 1 / 3;

    &::after {
      content: "";
      display: inline-block;
      height: 150px;
      width: 3px;
      background-color: #fff;
    }
  }

  &__item {

    &--language {
      
    }
    
  }
  
  &__key-value {
    width: 100%;
    font-family: inherit;
    font-size: 96px;
    line-height: 100%;

    text-align: center;
    text-decoration: none;
    border: none;
    -webkit-text-stroke: 3px #fff;
    background-color: $c-dark-gray;
    text-decoration: none;
    border: none;
  }
  
  &__language {
    grid-column: 3 / 5;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    gap: 24px;
    text-align: center;

    // &:first-child {
    //   margin-bottom: 24px;
    // }
  }

  &__language-item {
    width: max-content;

    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.06em;

    color: #E3C5BB;
    cursor: pointer;
  }

  &__language-item input {
    // opacity: 0;
  }

  &__language-input {
    appearance: none;
    height: 24px;
    width: 24px;
    margin-right: 15px;

    border-radius: 50%;
    border: 2px solid $c-beige;
    color: $c-cyan;

    &:checked {
      border-color: $c-cyan;
      border-width: 5px;
    }
  }

  &__mode {
    position: relative;
    grid-column: 5 / 7;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline flex-end;
    gap: 24px;

    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      margin-right: 50%;
      justify-self: start;
      content: "";
      display: block;
      float: left;

      // margin-right: 50%;
      height: 150px;
      width: 3px;
      background-color: #fff;
  
    }
  }

  &__mode-item {
    width: max-content;

    margin-left: 80px;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #E3C5BB;
    cursor: pointer;
  }

  &__mode-input {
    appearance: none;
    height: 24px;
    width: 24px;
    margin-right: 15px;

    border-radius: 50%;
    border: 2px solid $c-beige;
    color: $c-cyan;

    &:checked {
      border-color: $c-cyan;
      border-width: 5px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    clear: left;
  }
  
  &__button {
    box-sizing: border-box;
    width: 200px;
    height: 44px;
    margin-bottom: 60px;
    
    border: 3px solid $c-beige;
    background-color: $c-dark-gray;
    color: $c-beige;
    border-radius: 10px;
    
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.06em;

    &--submit {
      border-color: $c-cyan;
      color: $c-cyan;
    }
  }
}